.header-area {
    position: absolute;
    top: 0;
    width: 100%;
    height: 65px;
    background-color: #111;
    color: #efefef;
}

.box-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    padding: 0 15px;
    font-size: 1.3em;
}

.icon-menu {
    font-size: 1.3em;
    margin-top: 10px;
    width: 30px;
    height: 35px;
}

.menu-content {
    position: relative;
    width: 100%;
    min-height: 500px;
    background-color: #111;
    transform: .5s;
    transition: 0.5s;
    border-top: 1px solid #333;
}

.bt-open {
    display: flex;

    pointer-events: auto;
}

.menu-close {
    display: none;
    pointer-events: auto;
}

.box-modal-ul {
    width: 100%;
}

.box-modal-li {
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #333;
    list-style: none;

}

.modal-link {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    width: 100%;
    height: 50px;
    color: #efefef;
    text-decoration: none;
    font-size: 1.2em;
    /* background-color: aqua; */
}

.closed {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80px;
    padding: 10px 15px;
    border-top: 2px solid #666;
}

.modal-close {
    width: 100%;
    text-decoration: none;
    color: red;
    display: block;
}

.box-close {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.closed:hover {
    cursor: pointer;
    background-color: #555;
}

.modal-link {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 50px;
    padding: 10px 15px;
}

.modal-link:hover {
    background-color: rgb(226, 180, 81);
}

.icon-modal {
    font-size: 1.1em;
    width: 30px;
    height: 25px;
    margin-right: 20px;
    
}

.icon-modal-close {
    width: 50px;
    height: 50px;
}

.span-modal-close {
    font-size: 10px;
}